# Introducing Pandas

## Reading file

In [4]:
import pandas as pd

In [9]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel:

read_excel(io, sheetname=0, header=0, skiprows=None, skip_footer=0, index_col=None, names=None, parse_cols=None, parse_dates=False, date_parser=None, na_values=None, thousands=None, convert_float=True, has_index_names=None, converters=None, engine=None, squeeze=False, **kwds)
    Read an Excel table into a pandas DataFrame

    Parameters
    ----------
    io : string, path object (pathlib.Path or py._path.local.LocalPath),
        file-like object, pandas ExcelFile, or xlrd workbook.
        The string could be a URL. Valid URL schemes include http, ftp, s3,
        and file. For file URLs, a host is expected. For instance, a local
        file could be file://localhost/path/to/workbook.xlsx
    sheetname : string, int, mixed list of strings/ints, or None, default 0

        Strings are used for sheet names, Integers are used in zero-indexed
        sheet positions.

        Lists of strings/integers are used to request multiple sheets.

        Specify None to get all sheets.

        str|int -> DataFrame is returned.
        list|None -> Dict of DataFrames is returned, with keys representing
        sheets.

        Available Cases

        * Defaults to 0 -> 1st sheet as a DataFrame
        * 1 -> 2nd sheet as a DataFrame
        * "Sheet1" -> 1st sheet as a DataFrame
        * [0,1,"Sheet5"] -> 1st, 2nd & 5th sheet as a dictionary of DataFrames
        * None -> All sheets as a dictionary of DataFrames

    header : int, list of ints, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``
    skiprows : list-like
        Rows to skip at the beginning (0-indexed)
    skip_footer : int, default 0
        Rows at the end to skip (0-indexed)
    index_col : int, list of ints, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    parse_cols : int or list, default None
        * If None then parse all columns,
        * If int then indicates last column to be parsed
        * If list of ints then indicates list of column numbers to be parsed
        * If string then indicates comma separated list of column names and
          column ranges (e.g. "A:E" or "A,C,E:F")
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    na_values : list-like, default None
        List of additional strings to recognize as NA/NaN
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    engine: string, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None or xlrd
    convert_float : boolean, default True
        convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally
    has_index_names : boolean, default None
        DEPRECATED: for version 0.17+ index names will be automatically
        inferred based on index_col.  To read Excel output from 0.16.2 and
        prior that had saved index names, use True.

    Returns
    -------
    parsed : DataFrame or Dict of DataFrames
        DataFrame from the passed in Excel file.  See notes in sheetname
        argument for more information on when a Dict of Dataframes is returned.

In [32]:
df = pd.read_excel('.\\sample_data.xlsx')

In [33]:
df

                           Time  Cooling Load  Temperature
0        1/1/15 12:00:00 AM CST      0.802203     17.57697
1        1/1/15 12:30:00 AM CST      0.802203     17.57697
2         1/1/15 1:00:00 AM CST      1.895214     17.27978
3         1/1/15 1:30:00 AM CST     14.007580     17.27978
4         1/1/15 2:00:00 AM CST      1.014915     17.27978
5         1/1/15 2:30:00 AM CST      1.015470     16.98257
6         1/1/15 3:00:00 AM CST      1.647006     16.98257
7         1/1/15 3:30:00 AM CST      0.930945     16.98257
8         1/1/15 4:00:00 AM CST      0.786436     16.98257
9         1/1/15 4:30:00 AM CST      8.029107     16.98257
10        1/1/15 5:00:00 AM CST      0.828741     16.68523
11        1/1/15 5:30:00 AM CST      0.828008     16.68523
12        1/1/15 6:00:00 AM CST      0.830196     16.68523
13        1/1/15 6:30:00 AM CST      0.771979     16.68523
14        1/1/15 7:00:00 AM CST      0.781031     16.68523
15        1/1/15 7:30:00 AM CST   -138.163100     16.38815
16        1/1/15 8:00:00 AM CST    234.272000     16.38815
17        1/1/15 8:30:00 AM CST      1.422757     16.38815
18        1/1/15 9:00:00 AM CST     37.413010     16.68587
19        1/1/15 9:30:00 AM CST   -177.609500     16.98398
20       1/1/15 10:00:00 AM CST    212.855500     18.48843
21       1/1/15 10:30:00 AM CST    379.325800     19.99398
22       1/1/15 11:00:00 AM CST    164.910100     19.39741
23       1/1/15 11:30:00 AM CST    105.905700     19.09951
24       1/1/15 12:00:00 PM CST   -161.721900     18.80202
25       1/1/15 12:30:00 PM CST    378.861200     18.80202
26        1/1/15 1:00:00 PM CST    203.685800     19.09940
27        1/1/15 1:30:00 PM CST    -23.412070     19.09940
28        1/1/15 2:00:00 PM CST    -14.986560     19.09940
29        1/1/15 2:30:00 PM CST    230.698100     19.09940
...                         ...           ...          ...
17501   12/31/15 9:00:00 AM CST    236.655800     17.36593
17502   12/31/15 9:30:00 AM CST    257.163800     17.66302
17503  12/31/15 10:00:00 AM CST    275.714500     19.46100
17504  12/31/15 10:30:00 AM CST    317.969500     20.05588
17505  12/31/15 11:00:00 AM CST    326.865400     20.35330
17506  12/31/15 11:30:00 AM CST    345.543900     20.05586
17507  12/31/15 12:00:00 PM CST    362.052600     20.05586
17508  12/31/15 12:30:00 PM CST    322.999800     20.05586
17509   12/31/15 1:00:00 PM CST    312.133700     20.35544
17510   12/31/15 1:30:00 PM CST    301.239900     20.35544
17511   12/31/15 2:00:00 PM CST    273.287600     20.35544
17512   12/31/15 2:30:00 PM CST    271.123200     20.05530
17513   12/31/15 3:00:00 PM CST    242.403900     19.75571
17514   12/31/15 3:30:00 PM CST    262.356400     19.75571
17515   12/31/15 4:00:00 PM CST    279.414900     19.75571
17516   12/31/15 4:30:00 PM CST    243.730300     19.75571
17517   12/31/15 5:00:00 PM CST    186.784400     19.45850
17518   12/31/15 5:30:00 PM CST    207.929000     19.16116
17519   12/31/15 6:00:00 PM CST    203.959900     19.16116
17520   12/31/15 6:30:00 PM CST    188.108200     18.86291
17521   12/31/15 7:00:00 PM CST    145.609200     18.86291
17522   12/31/15 7:30:00 PM CST    194.256300     18.86291
17523   12/31/15 8:00:00 PM CST    191.647000     18.86291
17524   12/31/15 8:30:00 PM CST    153.158600     18.86291
17525   12/31/15 9:00:00 PM CST    169.632600     18.86291
17526   12/31/15 9:30:00 PM CST    189.803700     18.86291
17527  12/31/15 10:00:00 PM CST      6.440963     18.86291
17528  12/31/15 10:30:00 PM CST    126.565500     18.86291
17529  12/31/15 11:00:00 PM CST      8.075071     18.86291
17530  12/31/15 11:30:00 PM CST      7.707413     18.86291

[17531 rows x 3 columns]

## Arithmetic operation

In [7]:
df.loc[:, 'Temperature[F]']=df.loc[:, 'Temperature']*9/5+32

In [8]:
df

                           Time  Cooling Load  Temperature  Temperature[F]
0        1/1/15 12:00:00 AM CST      0.802203     17.57697       63.638546
1        1/1/15 12:30:00 AM CST      0.802203     17.57697       63.638546
2         1/1/15 1:00:00 AM CST      1.895214     17.27978       63.103604
3         1/1/15 1:30:00 AM CST     14.007580     17.27978       63.103604
4         1/1/15 2:00:00 AM CST      1.014915     17.27978       63.103604
5         1/1/15 2:30:00 AM CST      1.015470     16.98257       62.568626
6         1/1/15 3:00:00 AM CST      1.647006     16.98257       62.568626
7         1/1/15 3:30:00 AM CST      0.930945     16.98257       62.568626
8         1/1/15 4:00:00 AM CST      0.786436     16.98257       62.568626
9         1/1/15 4:30:00 AM CST      8.029107     16.98257       62.568626
10        1/1/15 5:00:00 AM CST      0.828741     16.68523       62.033414
11        1/1/15 5:30:00 AM CST      0.828008     16.68523       62.033414
12        1/1/15 6:00:00 AM CST      0.830196     16.68523       62.033414
13        1/1/15 6:30:00 AM CST      0.771979     16.68523       62.033414
14        1/1/15 7:00:00 AM CST      0.781031     16.68523       62.033414
15        1/1/15 7:30:00 AM CST   -138.163100     16.38815       61.498670
16        1/1/15 8:00:00 AM CST    234.272000     16.38815       61.498670
17        1/1/15 8:30:00 AM CST      1.422757     16.38815       61.498670
18        1/1/15 9:00:00 AM CST     37.413010     16.68587       62.034566
19        1/1/15 9:30:00 AM CST   -177.609500     16.98398       62.571164
20       1/1/15 10:00:00 AM CST    212.855500     18.48843       65.279174
21       1/1/15 10:30:00 AM CST    379.325800     19.99398       67.989164
22       1/1/15 11:00:00 AM CST    164.910100     19.39741       66.915338
23       1/1/15 11:30:00 AM CST    105.905700     19.09951       66.379118
24       1/1/15 12:00:00 PM CST   -161.721900     18.80202       65.843636
25       1/1/15 12:30:00 PM CST    378.861200     18.80202       65.843636
26        1/1/15 1:00:00 PM CST    203.685800     19.09940       66.378920
27        1/1/15 1:30:00 PM CST    -23.412070     19.09940       66.378920
28        1/1/15 2:00:00 PM CST    -14.986560     19.09940       66.378920
29        1/1/15 2:30:00 PM CST    230.698100     19.09940       66.378920
...                         ...           ...          ...             ...
17501   12/31/15 9:00:00 AM CST    236.655800     17.36593       63.258674
17502   12/31/15 9:30:00 AM CST    257.163800     17.66302       63.793436
17503  12/31/15 10:00:00 AM CST    275.714500     19.46100       67.029800
17504  12/31/15 10:30:00 AM CST    317.969500     20.05588       68.100584
17505  12/31/15 11:00:00 AM CST    326.865400     20.35330       68.635940
17506  12/31/15 11:30:00 AM CST    345.543900     20.05586       68.100548
17507  12/31/15 12:00:00 PM CST    362.052600     20.05586       68.100548
17508  12/31/15 12:30:00 PM CST    322.999800     20.05586       68.100548
17509   12/31/15 1:00:00 PM CST    312.133700     20.35544       68.639792
17510   12/31/15 1:30:00 PM CST    301.239900     20.35544       68.639792
17511   12/31/15 2:00:00 PM CST    273.287600     20.35544       68.639792
17512   12/31/15 2:30:00 PM CST    271.123200     20.05530       68.099540
17513   12/31/15 3:00:00 PM CST    242.403900     19.75571       67.560278
17514   12/31/15 3:30:00 PM CST    262.356400     19.75571       67.560278
17515   12/31/15 4:00:00 PM CST    279.414900     19.75571       67.560278
17516   12/31/15 4:30:00 PM CST    243.730300     19.75571       67.560278
17517   12/31/15 5:00:00 PM CST    186.784400     19.45850       67.025300
17518   12/31/15 5:30:00 PM CST    207.929000     19.16116       66.490088
17519   12/31/15 6:00:00 PM CST    203.959900     19.16116       66.490088
17520   12/31/15 6:30:00 PM CST    188.108200     18.86291       65.953238
17521   12/31/15 7:00:00 PM CST    145.609200     18.86291       65.953238
17522   12/31/15 7:30:00 PM CST    194.256300     18.86291       65.953238
17523   12/31/15 8:00:00 PM CST    191.647000     18.86291       65.953238
17524   12/31/15 8:30:00 PM CST    153.158600     18.86291       65.953238
17525   12/31/15 9:00:00 PM CST    169.632600     18.86291       65.953238
17526   12/31/15 9:30:00 PM CST    189.803700     18.86291       65.953238
17527  12/31/15 10:00:00 PM CST      6.440963     18.86291       65.953238
17528  12/31/15 10:30:00 PM CST    126.565500     18.86291       65.953238
17529  12/31/15 11:00:00 PM CST      8.075071     18.86291       65.953238
17530  12/31/15 11:30:00 PM CST      7.707413     18.86291       65.953238

[17531 rows x 4 columns]

In [10]:
df.loc[:, 'test'] = df.loc[:, 'Cooling Load']**(df.loc[:, 'Temperature']-20.0)

In [11]:
df

,Time,Cooling Load,Temperature,Temperature[F],test
0,1/1/15 12:00:00 AM CST,0.802203,17.57697,63.638546,1.705775e+00
1,1/1/15 12:30:00 AM CST,0.802203,17.57697,63.638546,1.705775e+00
2,1/1/15 1:00:00 AM CST,1.895214,17.27978,63.103604,1.756744e-01
3,1/1/15 1:30:00 AM CST,14.007580,17.27978,63.103604,7.614478e-04
4,1/1/15 2:00:00 AM CST,1.014915,17.27978,63.103604,9.605277e-01
5,1/1/15 2:30:00 AM CST,1.015470,16.98257,62.568626,9.547342e-01
6,1/1/15 3:00:00 AM CST,1.647006,16.98257,62.568626,2.218899e-01
7,1/1/15 3:30:00 AM CST,0.930945,16.98257,62.568626,1.240995e+00
8,1/1/15 4:00:00 AM CST,0.786436,16.98257,62.568626,2.064568e+00
9,1/1/15 4:30:00 AM CST,8.029107,16.98257,62.568626,1.863073e-03
10,1/1/15 5:00:00 AM CST,0.828741,16.68523,62.033414,1.863903e+00
11,1/1/15 5:30:00 AM CST,0.828008,16.68523,62.033414,1.869379e+00
12,1/1/15 6:00:00 AM CST,0.830196,16.68523,62.033414,1.853092e+00
13,1/1/15 6:30:00 AM CST,0.771979,16.68523,62.033414,2.358102e+00
14,1/1/15 7:00:00 AM CST,0.781031,16.68523,62.033414,2.268718e+00
15,1/1/15 7:30:00 AM CST,-138.163100,16.38815,61.498670,NaN
16,1/1/15 8:00:00 AM CST,234.272000,16.38815,61.498670,2.760104e-09
17,1/1/15 8:30:00 AM CST,1.422757,16.38815,61.498670,2.798432e-01
18,1/1/15 9:00:00 AM CST,37.413010,16.68587,62.034566,6.120663e-06
19,1/1/15 9:30:00 AM CST,-177.609500,16.98398,62.571164,NaN
20,1/1/15 10:00:00 AM CST,212.855500,18.48843,65.279174,3.026473e-04
21,1/1/15 10:30:00 AM CST,379.325800,19.99398,67.989164,9.648823e-01
22,1/1/15 11:00:00 AM CST,164.910100,19.39741,66.915338,4.612209e-02
23,1/1/15 11:30:00 AM CST,105.905700,19.09951,66.379118,1.501690e-02
24,1/1/15 12:00:00 PM CST,-161.721900,18.80202,65.843636,NaN
25,1/1/15 12:30:00 PM CST,378.861200,18.80202,65.843636,8.147650e-04
26,1/1/15 1:00:00 PM CST,203.685800,19.09940,66.378920,8.328177e-03
27,1/1/15 1:30:00 PM CST,-23.412070,19.09940,66.378920,NaN
28,1/1/15 2:00:00 PM CST,-14.986560,19.09940,66.378920,NaN
29,1/1/15 2:30:00 PM CST,230.698100,19.09940,66.378920,7.444620e-03
...,...,...,...,...,...
17501,12/31/15 9:00:00 AM CST,236.655800,17.36593,63.258674,5.577110e-07
17502,12/31/15 9:30:00 AM CST,257.163800,17.66302,63.793436,2.330171e-06
17503,12/31/15 10:00:00 AM CST,275.714500,19.46100,67.029800,4.837180e-02
17504,12/31/15 10:30:00 AM CST,317.969500,20.05588,68.100584,1.379855e+00
17505,12/31/15 11:00:00 AM CST,326.865400,20.35330,68.635940,7.732618e+00
17506,12/31/15 11:30:00 AM CST,345.543900,20.05586,68.100548,1.386120e+00
17507,12/31/15 12:00:00 PM CST,362.052600,20.05586,68.100548,1.389738e+00
17508,12/31/15 12:30:00 PM CST,322.999800,20.05586,68.100548,1.380906e+00
17509,12/31/15 1:00:00 PM CST,312.133700,20.35544,68.639792,7.701733e+00
17510,12/31/15 1:30:00 PM CST,301.239900,20.35544,68.639792,7.605095e+00
17511,12/31/15 2:00:00 PM CST,273.287600,20.35544,68.639792,7.346360e+00
17512,12/31/15 2:30:00 PM CST,271.123200,20.05530,68.099540,1.363183e+00
17513,12/31/15 3:00:00 PM CST,242.403900,19.75571,67.560278,2.615055e-01
17514,12/31/15 3:30:00 PM CST,262.356400,19.75571,67.560278,2.565009e-01
17515,12/31/15 4:00:00 PM CST,279.414900,19.75571,67.560278,2.525839e-01
17516,12/31/15 4:30:00 PM CST,243.730300,19.75571,67.560278,2.611571e-01
17517,12/31/15 5:00:00 PM CST,186.784400,19.45850,67.025300,5.889373e-02
17518,12/31/15 5:30:00 PM CST,207.929000,19.16116,66.490088,1.136685e-02
17519,12/31/15 6:00:00 PM CST,203.959900,19.16116,66.490088,1.155211e-02
17520,12/31/15 6:30:00 PM CST,188.108200,18.86291,65.953238,2.592947e-03
17521,12/31/15 7:00:00 PM CST,145.609200,18.86291,65.953238,3.469442e-03
17522,12/31/15 7:30:00 PM CST,194.256300,18.86291,65.953238,2.499836e-03
17523,12/31/15 8:00:00 PM CST,191.647000,18.86291,65.953238,2.538574e-03
17524,12/31/15 8:30:00 PM CST,153.158600,18.86291,65.953238,3.275651e-03
17525,12/31/15 9:00:00 PM CST,169.632600,18.86291,65.953238,2.916401e-03
17526,12/31/15 9:30:00 PM CST,189.803700,18.86291,65.953238,2.566626e-03
17527,12/31/15 10:00:00 PM CST,6.440963,18.86291,65.953238,1.202680e-01
17528,12/31/15 10:30:00 PM CST,126.565500,18.86291,65.953238,4.068912e-03
17529,12/31/15 11:00:00 PM CST,8.075071,18.86291,65.953238,9.300214e-02
17530,12/31/15 11:30:00 PM CST,7.707413,18.86291,65.953238,9.806297e-02

In [16]:
from math import exp
df.loc[:, 'test2'] = exp(df.loc[:, 'Temperature']-20.0)

TypeError: cannot convert the series to <class 'float'>

In [17]:
from numpy import exp
df.loc[:, 'test2'] = exp(df.loc[:, 'Temperature']-20.0)

In [18]:
df

,Time,Cooling Load,Temperature,Temperature[F],test,test2
0,1/1/15 12:00:00 AM CST,0.802203,17.57697,63.638546,1.705775e+00,0.088653
1,1/1/15 12:30:00 AM CST,0.802203,17.57697,63.638546,1.705775e+00,0.088653
2,1/1/15 1:00:00 AM CST,1.895214,17.27978,63.103604,1.756744e-01,0.065860
3,1/1/15 1:30:00 AM CST,14.007580,17.27978,63.103604,7.614478e-04,0.065860
4,1/1/15 2:00:00 AM CST,1.014915,17.27978,63.103604,9.605277e-01,0.065860
5,1/1/15 2:30:00 AM CST,1.015470,16.98257,62.568626,9.547342e-01,0.048927
6,1/1/15 3:00:00 AM CST,1.647006,16.98257,62.568626,2.218899e-01,0.048927
7,1/1/15 3:30:00 AM CST,0.930945,16.98257,62.568626,1.240995e+00,0.048927
8,1/1/15 4:00:00 AM CST,0.786436,16.98257,62.568626,2.064568e+00,0.048927
9,1/1/15 4:30:00 AM CST,8.029107,16.98257,62.568626,1.863073e-03,0.048927
10,1/1/15 5:00:00 AM CST,0.828741,16.68523,62.033414,1.863903e+00,0.036342
11,1/1/15 5:30:00 AM CST,0.828008,16.68523,62.033414,1.869379e+00,0.036342
12,1/1/15 6:00:00 AM CST,0.830196,16.68523,62.033414,1.853092e+00,0.036342
13,1/1/15 6:30:00 AM CST,0.771979,16.68523,62.033414,2.358102e+00,0.036342
14,1/1/15 7:00:00 AM CST,0.781031,16.68523,62.033414,2.268718e+00,0.036342
15,1/1/15 7:30:00 AM CST,-138.163100,16.38815,61.498670,NaN,0.027002
16,1/1/15 8:00:00 AM CST,234.272000,16.38815,61.498670,2.760104e-09,0.027002
17,1/1/15 8:30:00 AM CST,1.422757,16.38815,61.498670,2.798432e-01,0.027002
18,1/1/15 9:00:00 AM CST,37.413010,16.68587,62.034566,6.120663e-06,0.036366
19,1/1/15 9:30:00 AM CST,-177.609500,16.98398,62.571164,NaN,0.048996
20,1/1/15 10:00:00 AM CST,212.855500,18.48843,65.279174,3.026473e-04,0.220563
21,1/1/15 10:30:00 AM CST,379.325800,19.99398,67.989164,9.648823e-01,0.993998
22,1/1/15 11:00:00 AM CST,164.910100,19.39741,66.915338,4.612209e-02,0.547392
23,1/1/15 11:30:00 AM CST,105.905700,19.09951,66.379118,1.501690e-02,0.406370
24,1/1/15 12:00:00 PM CST,-161.721900,18.80202,65.843636,NaN,0.301803
25,1/1/15 12:30:00 PM CST,378.861200,18.80202,65.843636,8.147650e-04,0.301803
26,1/1/15 1:00:00 PM CST,203.685800,19.09940,66.378920,8.328177e-03,0.406326
27,1/1/15 1:30:00 PM CST,-23.412070,19.09940,66.378920,NaN,0.406326
28,1/1/15 2:00:00 PM CST,-14.986560,19.09940,66.378920,NaN,0.406326
29,1/1/15 2:30:00 PM CST,230.698100,19.09940,66.378920,7.444620e-03,0.406326
...,...,...,...,...,...,...
17501,12/31/15 9:00:00 AM CST,236.655800,17.36593,63.258674,5.577110e-07,0.071786
17502,12/31/15 9:30:00 AM CST,257.163800,17.66302,63.793436,2.330171e-06,0.096619
17503,12/31/15 10:00:00 AM CST,275.714500,19.46100,67.029800,4.837180e-02,0.583331
17504,12/31/15 10:30:00 AM CST,317.969500,20.05588,68.100584,1.379855e+00,1.057471
17505,12/31/15 11:00:00 AM CST,326.865400,20.35330,68.635940,7.732618e+00,1.423758
17506,12/31/15 11:30:00 AM CST,345.543900,20.05586,68.100548,1.386120e+00,1.057450
17507,12/31/15 12:00:00 PM CST,362.052600,20.05586,68.100548,1.389738e+00,1.057450
17508,12/31/15 12:30:00 PM CST,322.999800,20.05586,68.100548,1.380906e+00,1.057450
17509,12/31/15 1:00:00 PM CST,312.133700,20.35544,68.639792,7.701733e+00,1.426808
17510,12/31/15 1:30:00 PM CST,301.239900,20.35544,68.639792,7.605095e+00,1.426808
17511,12/31/15 2:00:00 PM CST,273.287600,20.35544,68.639792,7.346360e+00,1.426808
17512,12/31/15 2:30:00 PM CST,271.123200,20.05530,68.099540,1.363183e+00,1.056858
17513,12/31/15 3:00:00 PM CST,242.403900,19.75571,67.560278,2.615055e-01,0.783260
17514,12/31/15 3:30:00 PM CST,262.356400,19.75571,67.560278,2.565009e-01,0.783260
17515,12/31/15 4:00:00 PM CST,279.414900,19.75571,67.560278,2.525839e-01,0.783260
17516,12/31/15 4:30:00 PM CST,243.730300,19.75571,67.560278,2.611571e-01,0.783260
17517,12/31/15 5:00:00 PM CST,186.784400,19.45850,67.025300,5.889373e-02,0.581875
17518,12/31/15 5:30:00 PM CST,207.929000,19.16116,66.490088,1.136685e-02,0.432212
17519,12/31/15 6:00:00 PM CST,203.959900,19.16116,66.490088,1.155211e-02,0.432212
17520,12/31/15 6:30:00 PM CST,188.108200,18.86291,65.953238,2.592947e-03,0.320751
17521,12/31/15 7:00:00 PM CST,145.609200,18.86291,65.953238,3.469442e-03,0.320751
17522,12/31/15 7:30:00 PM CST,194.256300,18.86291,65.953238,2.499836e-03,0.320751
17523,12/31/15 8:00:00 PM CST,191.647000,18.86291,65.953238,2.538574e-03,0.320751
17524,12/31/15 8:30:00 PM CST,153.158600,18.86291,65.953238,3.275651e-03,0.320751
17525,12/31/15 9:00:00 PM CST,169.632600,18.86291,65.953238,2.916401e-03,0.320751
17526,12/31/15 9:30:00 PM CST,189.803700,18.86291,65.953238,2.566626e-03,0.320751
17527,12/31/15 10:00:00 PM CST,6.440963,18.86291,65.953238,1.202680e-01,0.320751
17528,12/31/15 10:30:00 PM CST,126.565500,18.86291,65.953238,4.068912e-03,0.320751
17529,12/31/15 11:00:00 PM CST,8.075071,18.86291,65.953238,9.300214e-02,0.320751
17530,12/31/15 11:30:00 PM CST,7.707413,18.86291,65.953238,9.806297e-02,0.320751

## Relational Algebra

In [23]:
df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
df2 = pd.DataFrame({'c': [1, 2, 3, 5], 'd': [4, 5, 6, 9]})

In [24]:
df1

   a  b
0  1  4
1  2  5
2  3  6

In [25]:
df2

   c  d
0  1  4
1  2  5
2  3  6
3  5  9

In [26]:
df1.join(df2)

   a  b  c  d
0  1  4  1  4
1  2  5  2  5
2  3  6  3  6

In [27]:
df2.join(df1)

   c  d    a    b
0  1  4  1.0  4.0
1  2  5  2.0  5.0
2  3  6  3.0  6.0
3  5  9  NaN  NaN

In [28]:
help(df1.join)

Help on method join in module pandas.core.frame:

join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False) method of pandas.core.frame.DataFrame instance
    Join columns with other DataFrame either on index or on a key
    column. Efficiently Join multiple DataFrame objects by index at once by
    passing a list.

    Parameters
    ----------
    other : DataFrame, Series with name field set, or list of DataFrame
        Index should be similar to one of the columns in this one. If a
        Series is passed, its name attribute must be set, and that will be
        used as the column name in the resulting joined DataFrame
    on : column name, tuple/list of column names, or array-like
        Column(s) to use for joining, otherwise join on index. If multiples
        columns given, the passed DataFrame must have a MultiIndex. Can
        pass an array as the join key if not already contained in the
        calling DataFrame. Like an Excel VLOOKUP operation
    how : {'left', 'right', 'outer', 'inner'}
        How to handle indexes of the two objects. Default: 'left'
        for joining on index, None otherwise

        * left: use calling frame's index
        * right: use input frame's index
        * outer: form union of indexes
        * inner: use intersection of indexes
    lsuffix : string
        Suffix to use from left frame's overlapping columns
    rsuffix : string
        Suffix to use from right frame's overlapping columns
    sort : boolean, default False
        Order result DataFrame lexicographically by the join key. If False,
        preserves the index order of the calling (left) DataFrame

    Notes
    -----
    on, lsuffix, and rsuffix options are not supported when passing a list
    of DataFrame objects

    Returns
    -------
    joined : DataFrame

In [29]:
df1.join(df2, how='outer')

     a    b  c  d
0  1.0  4.0  1  4
1  2.0  5.0  2  5
2  3.0  6.0  3  6
3  NaN  NaN  5  9